<nav class="bt bb tc mw6 center mt4">
    <a class="f6 f5-l link bg-animate black-80 hover-bg-light-yellow {% if page.url == '/' %}bg-light-yellow{% endif %} dib pa3 ph4-l" href="/">Home</a>
    {% comment %} <a class="f6 f5-l link bg-animate black-80 hover-bg-light-green {% if page.url == '/esperienza/' %}bg-light-green{% endif %} dib pa3 ph4-l" href="/esperienza">Esperienza</a> {% endcomment %}
    <a class="f6 f5-l link bg-animate black-80 hover-bg-light-blue {% if page.url == '/curriculum/' %}bg-light-blue{% endif %} dib pa3 ph4-l" href="/curriculum">Curriculum</a>
    <a class="f6 f5-l link bg-animate black-80 hover-white hover-bg-light-purple {% if page.url == '/progetti/' %}bg-light-purple white{% endif %} dib pa3 ph4-l" href="/progetti">Progetti</a>
</nav>